<div class="neon-msg">
    <h1 class="neon-msg-title">Getting In Touch</h1>
    <hr>
    <p>
        
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit libero voluptate culpa ut ullam dicta nihil id
        quo aspernatur assumenda dolorum autem aliquam vel sapiente, minus quas fugiat earum quia?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nihil velit blanditiis esse quaerat in debitis
        quisquam nobis impedit cupiditate earum numquam libero at facere, quasi illum suscipit, temporibus qui!

        {{content}}
    </p>
    </div>