@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

.neon {
  font-family: "Tomorrow";
  text-shadow: 0 0 3vw #f4bd0a;
  animation: neon 2s ease-in-out infinite;
}
.flux {
  font-family: "Tomorrow";
  text-shadow: 0 0 3vw cyan;
  animation: flux 2s linear infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fffc00;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}
@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #10efff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: cyan;
  }
  50% {
    text-shadow: 0 0 0.5vw #02423a, 0 0 1.5vw #024738, 0 0 5vw #023812,
      0 0 5vw #012707, 0 0 0.2vw #022201, 0.5vw 0.5vw 0.1vw #011a06;
    color: cyan;
  }
}
