---
layout: default
---

<div class="neon-msg">
    <h1 class="neon-msg-title">DATA: CV</h1>
    <hr>

    <span class="neon-msg-h2">NAME</span>
    <p class="neon-msg-text">
        JERRY SHENGJING WANG
    </p>

    <span class="neon-msg-h2">SKILLS</span>
    <p class="neon-msg-text">
        **C++**, PYTHON, REGEX, REACT, SWIFT, AWS, LINUX, VIM
    </p>

    <span class="neon-msg-h2">EXPERIENCE</span>
    <p class="neon-msg-text">
        UOB STUDENT REPRESENTATIVE 2017 <span class="neon-msg-detail">Student representative for international foundation program. Responsibilities includes organising social events and
        improving the student experience and advise the programme from a student prospective. Gained experience in leadership
        skills.</span>
        <br>
        ARM SOFTWARE ENGINEER INTERN 2019 <span class="neon-msg-detail">Working in an agile team on large scale software engineering projects that involve
        designing scalable algorithms and
        legacy codebase migration. Main languages used include Python 2.7, Python 3.7, C++, JavaScript and Perl. Practiced
        enterprise-grade collaboration tools such as GitHub, Apache Subversion Control and Jira.</span>
    </p>

    <span class="neon-msg-h2">EDUCATION</span>
    <p class="neon-msg-text">
        UNIVERSITY OF BRISTOL 2016-2017 <span class="neon-msg-detail">Achieved first class in STEM Foundation </span>
        <br>
        UNIVERSITY OF BRISTOL 2017-2020 <span class="neon-msg-detail">Achieved high 2:1 in BSc Computer Science </span>
        <br>
        UNIVERSITY OF GLASGOW 2021-2022 <span class="neon-msg-detail">Achieved first class with distinction in MSc Computer Science </span>
    </p>

    <span class="neon-msg-h2">AWARDS</span>
    <p class="neon-msg-text">
        International Office Scholarships <span class="neon-msg-detail">2017 </span>
        <br>
        Barry Thomas Scholarship in Computer Science <span class="neon-msg-detail">2018</span>
    </p>

    {{content}}
</div>

<span class="glitch-button-container">
    <div class="glitch-button-group">
        <a class="btn-glitch-fill" href="https://github.com/jerrykress/jerrykress/blob/main/CV%202022.10.pdf">
            <span class="text">// DOWNLOAD FULL PDF </span><span class="text-decoration">_</span><span
                class="decoration">&rArr;</span>
        </a>
    </div>
</span>

<div class="environment"></div>