---
layout: default
---

<div class="home">

  <div class="environment"></div>

  <div class="page-heading">
    <a class="neon">RECENT </a>
    <a class="flux">PROJECTS</a>
  </div>

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Default Page" }}</h2> -->
    <ul class="post-list">
      <!-- List of Posts -->
      {%- for post in site.posts -%}
      <li>
        
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="">
            {%- if post.cover -%}
            <!-- <img class="post-cover-img" src="{{post.cover}}"> -->
            {%- endif -%}
            <div class="">
                <span class="post-meta-date">{{ post.date | date: date_format }}</span>
                <a class="post-meta-text" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
                <p>{{post.description}}</p>
            </div>
            
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
