---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Default Page" }}</h2> -->
    <ul class="post-list">
      <!-- List of Posts -->
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-card-container">
            {%- if post.cover -%}
            <img class="post-cover-img" src="{{post.cover}}">
            {%- endif -%}
            <div class="post-card-meta-container">
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <a class="post-link post-meta-text" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
                <a>{{post.description}}</a>
            </div>
            
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <!-- Footnote section -->
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
