---
layout: default
---

<div class="home">

  <div class="environment"></div>

  <div class="page-heading">
    <a class="neon">C++ PROJECTS</a>
  </div>

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Default Page" }}</h2> -->
    <ul class="post-list">
      <!-- List of Posts -->
      {%- for post in site.posts -%}
      <li>
        
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-card-container">
            {%- if post.cover -%}
            <div class="img-container">
                <img src="{{post.cover}}">
            </div>
            {%- endif -%}
            <div class="post-card-meta-container">
              <a class="post-meta-title" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
               <div class="post-meta-date">{{ post.date | date: date_format }}</div>
                <p class="post-meta-text">{{post.description}}</p>
            </div>
            
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
        </span>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <div class="page-heading">
    <a class="flux">OTHER PROJECTS</a>
  </div>

</div>
